/* CSS Demo Stylesheet */


/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---------------Global Styles----------------- */

/*
#A4A5A6 = Light Gray
#00060D = Dark Gray
#081526 = Navy
#122640 = Darkish Blue
#172D40 = Bluish Green
*/
body {
    background-color:#081526;
    font-family: 'Noto Sans Display', sans-serif;
    color: #A4A5A6;
}

/* Need to get a color pallete and font for next class */
header.primary {
    background-color:#122640;
    text-align:center;
    color:#A4A5A6;
  /* Long Form
    padding-top:40px;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:40px;
  */
  /* Short Form (Top, Right, Bottom, Left) */
  padding:40px 20px 20px 40px;
  
  /* Short Form (Top/Bottom, Right/Left)*/
  /*padding:20px 40px;*/
  text-shadow: 2px 2px #00060D;
}
header.primary h1{
  font-size:2.8rem;
  margin: 20px 0;
}
header.primary h1 a{
  color:#A4A5A6;
  text-decoration:none;
}
header.primary h2{
  font-size: 1.5em;
  margin: 20px auto 40px;
}
header.primary nav{
  width:50vw;
  margin:20px auto;
  max-width: 900px;
}