/* CSS Demo Stylesheet */


/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---------------Utility Classes -------------- */

.container {
  width:70vw;
  margin:50px auto;
}


.img-right {
  float:right;
  border:.5px solid #000000;
  padding:5px;
  margin-left:20px;
}

.img-left {
  float:left;
  border:.5px solid #000000;
  padding:5px;
  margin-right:20px;
}

.img-center {
  display:block;
  padding:1.5em;
  margin:10px auto;
}

/* --------------Respnsive Images -------------- */

img {
  max-width: 100%;
  height: auto;
}

/* ---------------Global Styles----------------- */

/*
#A4A5A6 = Light Gray
#00060D = Dark Gray
#081526 = Navy
#122640 = Darkish Blue
#172D40 = Bluish Green
*/

body {
    background-color:#F2F2F2;
    font-family: 'Noto Sans Display', sans-serif;
    color: #404040;
}

/* Need to get a color pallete and font for next class */
header.primary {
    background-color:#0A6ABF;
    text-align:center;
    color:#F2F2F2;
  /* Long Form
    padding-top:40px;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:40px;
  */
  /* Short Form (Top, Right, Bottom, Left) */
  padding:40px 20px 20px 40px;
  
  /* Short Form (Top/Bottom, Right/Left)*/
  /*padding:20px 40px;*/
  text-shadow: 1px 1px #00060D;
  background-color: #404040;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%230a6abf' fill-opacity='0.76' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  
}
header.primary h1{
  font-size:2.8rem;
  margin: 20px 0;
}
header.primary h1 a{
  color:#F2F2F2;
  text-decoration:none;
}
header.primary h2{
  font-size: 1.5em;
  margin: 20px auto 40px;
}
header.primary nav{
  width:50vw;
  margin:20px auto;
  max-width: 900px;
}
header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
}
header.primary nav li{
  list-style-type: none;
  text-shadow: none;
}
header.primary nav a{
  background-color:rgba(0, 6, 13, .4);
  color:#F2F2F2;
  padding: 4px 10px;
  border-radius:20px;
  transition:.5s;
}
header nav a:hover, header nav a:active{
  background-color:rgba(0, 6, 13, .7);
}

#intro h2 {
  color:#B2BF4B;
  border-left:2px solid #05AFF2;
  text-align: start;
  padding-left:.5em;
}

#intro p {
  line-height: 1.6em;
}

#intro {
  padding-bottom: 3.2em;
}
#content {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  padding-bottom: 3.2em;
}

#content article.post {
  width: 30%;
  padding: 10px;
  background-color:rgba(10, 106, 191, .6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  border-radius:5px;
}

#content article.post:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, .7);
  transition:.5s;
}

#content article.figure {
  margin:0;
}

time.post-date {
  text-transform: uppercase;
  color: #404040;
}

.post a {
  color:#404040;
}

.post a:hover, .post a:active {
  text-decoration: none;
}

/* attribute selector example */


#additional-elements h2{
  color:#B2BF4B;
  border-left:2px solid #05AFF2;
  text-align: start;
  padding-left:.5em;
}

#additional-elements h3{
  color:#B2BF4B;
  text-align: start;
  margin-left: 10px;
  padding-left:.4em;
}

#additional-elements h4 {
  color:#B2BF4B;
  border-left:2px solid #05AFF2;
  text-align: start;
  margin-left:20px;
  padding-left:.3em;
}


table {
  width:100%;
  border: 1px solid #000000;
  margin-bottom:30px;
  border-collapse: collapse;
}

table tr:nth-child(even) {
  background-color:rgba(0, 0, 0, .25);
}

table th {
  background:#00060D;
  color:#A4A5A6;
  width: 33%;
  padding: 5px;
}

table td {
  border:1px solid #000000;
  padding: 2px;
}

table caption {
  
}

aside[role="complementary"] {
  background-color:#0A6ABF;
  color: #404040;
  background-color: #404040;
  background-image: 
     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%230a6abf' fill-opacity='0.76' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 0.4em;
}

aside div.container {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}

article.widget {
  width: 45%;
  background-color: #05AFF2;
  padding: .8em;
  border-radius:15px;
}

article.widget h2 {
  text-align: center;
}

article.widget a {
  display:block;
  color: #404040;
  margin-top: .8em;
}

aside a:hover, aside a:active {
  text-decoration: none;
}

article.widget footer {
  display: none;
}

#colophon {
  background-color:#0A6ABF;
  background-color: #404040;
  background-image: 
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%230a6abf' fill-opacity='0.76' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#colophon h6 {
  padding:10px;
  margin:0;
  color:#F2F2F2;
  text-align: center;
}


/* Media Query Example */

@media screen and (max-width:1000px) {
  header.primary nav ul {
    flex-direction:column;
    max-width: 70vw;
    margin:auto;
  }
  header.primary nav li{
    margin-bottom: 10px;
  }
  header.primary nav a{
    display:block;
  }
}