body {
    background : #2b2d2f; /*Gray*/
    color : white;
}
/* I changed the hyperlink colors just so that they're more legible with the background. Just wanted to test it out too */
a:link {
    color : #17adee; /*Lightish Blue*/
}
a:visited {
    color : #a312ba; /*Lightish Purple*/
}
th {
    text-align : center; /*Makes the table HEADER align to the center*/
}
table, th, td {
    border : 1px solid white; /*The CSS way to make a table border, as opposed to the horrendous HTML way that is off limits*/
}